[core]
    pager = delta
    editor = nvim 
    excludesFile = ~/.global-gitignore

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    line-numbers = true
    side-by-side = false

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[user]
    name = Marc Arbones Tutusaus
    email = marbonestu@gmail.com

[init]
    defaultBranch = main

[push]
    default = current

[pull]
    rebase = true

[rebase]
  autoStash = true

[include]
  path = ~/delta/themes.gitconfig

[includeIf "gitdir:~/projects/diligent/"]
    path = ~/.gitconfig-diligent

[includeIf "gitdir:~/projects/disney/"]
    path = ~/.gitconfig-disney

[help]
    autocorrect = 10

[alias]
    co = checkout
    c = commit -m
    camend = commit --amend
    sw = switch
    s = status
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
