nvim/.config/nvim/luacache_chunks
nvim/.config/nvim/lvim.shada
nvim/.config/nvim/luacache_modpaths
nvim/.config/nvim/plugin/packer_compiled.lua
karabiner/.config/karabiner/automatic_backups/
*.save

lvim/.config/lvim/plugin/packer_compiled.lua

lazygit/.config/lazygit/state.yml
bin/.local/bin
